/* play.css */

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #ff0000;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

code {
    background-color: #333;
    color: #00ffcc;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
}

p {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


.tooHigh {
    background-color: #ffcccc;
    color: #cc0000;
    font-weight: bold;
}

.tooLow {
    background-color: #cce5ff;
    color: #004085;
    font-weight: bold;
}

.correct {
    background-color: #ccffcc;
    color: #008000;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

a {
    color: #008000;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}